.FAQ{
    padding-bottom: 5vh;

    h1 {
        font-size: 45px;
        text-align: center;
        padding-bottom: 5px;
        color: rgba(47, 53, 66,1.0);
        font-weight: 300;
    }
    
    .Question {
        font-weight: 600;
        margin-bottom: 0;
    }
    
    .Answer {
        padding-left: 10px;
        margin-top: 2px;
    }
    
    p {
        letter-spacing: 0.5px;
        word-spacing: 0.5px;
        font-size: 16px;
    }
}

@media (max-width: 1500px) {
    .FAQ {
        padding-bottom: 0vh;
    }
}

@media (max-width: 600px) {
    .FAQ {
        padding-bottom: 25px;
    }
}