.Product {
    display: flex;
    transition: transform 0.5s, opacity 0.5s;
    padding-bottom: 80px;

    .PhotoCarousel {
        width: 50%;
        display: flex;

        .MainPhoto {
            margin-left: 4%;
            width: 79%;
            img{
                padding: 1%;
                background-color: rgba(241, 242, 246,0.8);
                width: 100%;
                height: auto;
            }
        }

        .ThumbNailList{
            width: 14%;
            height: auto;
            img{
                padding: 2%;
                border: 1px solid  rgba(164, 176, 190,1.0);
                margin-top: 4px;
                width: 100%;
                cursor: pointer;
            }
        }
    }

    .About {
        padding-left: 25px;
        width: 50%;

        .Name {
            font-weight: 400;
            letter-spacing: 2px;
            word-spacing: 2px;
        }
    
        .Price {
            padding-top: 5px;
            font-size: 18px;
            letter-spacing: 2px;
            color: rgba(164, 176, 190,1.0);

            .BeforeDiscount {
                font-size: 16px;
                text-decoration: line-through;
                padding-left: 10px;
            }
        }
    
        .Description {
            word-spacing: 1px;
            padding-bottom: 5px;
        }

        .PickSize {
            .Text {
                display: block;
                letter-spacing: 1px;
                padding-bottom: 7px;
            }

            .Btn {
                cursor: pointer;
                height: 30px;
                width: 30px;
                margin-right: 7px;
                background: none;
                border: 1px solid rgba(47, 53, 66,1.0);
                color: rgba(47, 53, 66,1.0);
                outline: none;
                
            }

            .BtnClicked {
                cursor: pointer;
                height: 33px;
                width: 33px;
                margin-right: 7px;
                background: none;
                border: 1px solid rgba(47, 53, 66,1.0);
                background-color: rgba(47, 53, 66,1.0);
                color: rgba(255, 255, 255,1.0);
                font-weight: 400;
                outline: none;
            }

            .BtnDisabled {
                height: 30px;
                width: 30px;
                margin-right: 7px;
                background: none;
                border: 1px solid rgba(206, 214, 224,1.0);
                color: rgba(206, 214, 224,1.0);
                outline: none;
            }

            .HowMany {
                display: block;
                width: 140px;
                margin-top: 7px;
                margin-bottom: 35px;
                font-size: 13px;
                word-spacing: 1px;
                color: rgba(47, 53, 66,1.0);

                .Many {
                    color: rgba(123, 237, 159,1.0);
                }

                .Medium {
                    color: rgba(255, 165, 2,1.0);
                }

                .Few {
                    color: rgba(255, 71, 87,1.0);
                }

            }
        }

        .Amount {
            margin-bottom: 20px;
            display: flex;
            .NumberInput{
                text-align: center;
                font-size: 15px;
                word-spacing: 0.5px;
                letter-spacing: 1px;
                padding: 9px;
                outline: none;
                width: 25px;
                border: none;
                background-color: rgba(241, 242, 246,1.0);
                color: rgba(87, 96, 111,1.0);
            }

            .Btn {
                background: none;
                border: none;
                cursor: pointer;
                font-size: 18px;
                color: rgba(87, 96, 111,1.0);
                padding: 0 12px;
                outline: none;
            }

            .Text {
                display: flex;
                align-items: center;
                font-size: 18px;
                color: rgba(87, 96, 111,1.0);
            }

            //DONT SHOW ARROWS IN INPUT
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button {  
                -webkit-appearance: none; 
                margin: 0; 
            }
        }
    }

    .Waring {
        color: rgba(255, 71, 87,1.0);
        display: block;
        padding: 15px 0;
        letter-spacing: 1px;
    }

    .Success {
        color: rgba(123, 237, 159,1.0);
        display: block;
        padding: 15px 0;
        letter-spacing: 1px;

        .fa-check {
            padding-right: 5px;
            font-size: 14px;
        }
    }
}

.product-enter-animation{
    animation: open 1s;
    .Photo {
        animation: fromLeft 1s;
    }

    .About {
        animation: fromRight 1s;
    }
}

@keyframes open {
    0%{
        opacity: 0;
        transform: scale(0.2)
    }
    100%{
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes fromLeft {
    0%{
        transform: translateX(-100vh);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes fromRight {
    0%{
        transform: translateX(100vh);
    }
    100%{
        transform: translateX(0);
    }
}

@media (max-width: 1500px) {
    .Product {
        padding-bottom: 25px;
    }
}



@media (max-width: 1000px) {
    .Product {
        display: flex;
        flex-direction: column;
        position: relative;
    
        .PhotoCarousel {
            height: auto;
            width: 80%;
            margin: 0 auto 10px auto;
        }
    
        .About {
            width: auto;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}