.ShoppingList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    animation: fadeIn 0.7s;
    width: 100%;

    .SearchBlock {
        width: 100%;
        padding-left: 6.7%;
        padding-right: 1%;
        padding-bottom: 20px;
        display: flex;
        justify-content: flex-end;
        position: relative;

        .SearchInput {
            color: rgba(47, 53, 66,1.0);
            padding: 7px 30px 7px 7px;
            width: 30%;
            height: 18px;
            font-size: 16px;
            background-color: rgba(255, 255, 255,1.0);
            border-radius: 3px;
            border: 1px solid rgba(164, 176, 190,1.0);
            transition: all 1.5s;
            outline: none;

            &:focus {
                width: 44%;
                border-color: rgba(47, 53, 66,1.0);
            }
        }

        .fas {
            position: absolute;
            right: 14px;
            height: 31px;
            display: flex;
            align-items: center;
            color: rgba(164, 176, 190,1.0);
            transition: all 0.2s;

            &:hover {
                color: rgba(47, 53, 66,1.0);
                cursor: pointer;
            }

        }

    }

    .Controls{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-top: 30px;
        .ControlBtn {
            background: none;
            outline: none;
            cursor: pointer;
            border: none;
            font-size: 16px;
            font-weight: 200;
            padding: 3px 6px;
            margin: 0 2px;

            .fa-arrow-right {
                font-size: 14px;
            }
        }

        .active{
            font-size: 18px;
            font-weight: 600;
        }
    }
}

.goLeft{
    animation: moveToLeft 0.8s;
}

.comeFromRight {
    animation: fromRight 0.8s;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes moveToLeft {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-200vh);
    }
}

@keyframes fromRight {
    0%{
        transform: translateX(100vh);
    }
    100%{
        transform: translateX(0);
    }
}

@media (max-width: 850px) {
    .ShoppingList {
    
        .SearchBlock {
            padding-left: 14.3%;
            padding-right: 4%;
    
            .SearchInput {
                width: 50%;
    
                &:focus {
                    width: 70%;
                    border-color: rgba(47, 53, 66,1.0);
                }
            }

            .fas {
                right: 22px;
            }
        }
        
    }
}