.Footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding-top: 100px;

    h6 {
        position: absolute;
        left: 0px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        color: rgba(164, 176, 190,1.0);
    }

    a{
        margin-left: 15px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 600;
        letter-spacing: 2px;
        padding: 1px;
        transition: 0.2s;

        &:hover{
            border-bottom: 1px solid #000;
        }
    }

    .fa-facebook-f{
        font-size: 16px;
    }

    .fa-instagram{
        font-size: 20px;
    }
}

@media (max-width: 850px) {
    .Footer {
        padding-top: 10px;
    }
}

@media (max-width: 600px) {
    .Footer {
        height: auto;
        padding: 20px;
        margin-top: 40px;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        border-top: 1px solid rgba(223, 228, 234,1.0);

        h6 {
            top: 22px;
            left: 20px;
        }

        a{
            margin-left: 0;
            margin-top: 2px;
        }
    }

    
}