.Regulamin {
    display: block;
    padding: 0px 25px;
    h1 {
        font-size: 45px;
        text-align: center;
        padding-bottom: 5px;
        color: rgba(47, 53, 66,1.0);
        font-weight: 300;
    }
    p {
        font-size: 18px;
        text-align: justify; 
    }
}