.Nav {
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding-bottom: 50px;

    .Logo {
        font-family: 'Lora', serif;
        position: absolute;
        left: 0px;
        display: flex;
        align-items: center;
        font-size: 55px;
        font-weight: 200;
        color: rgba(47, 53, 66,1.0);

        img {
            height: 100px;
        }
    }

    .LoginPanel{
        position: relative;
        bottom: 25px;
        display: flex;
        justify-content: flex-end;

        .LoginBtn{
            text-decoration: none;
            color: rgba(164, 176, 190,1.0);
            background: none;
            border: none;
            outline: none;
            letter-spacing: 1px;
            padding: 0 17.5px;
            transition: 0.2s;
            font-size: 15px;
            cursor: pointer;

            &:last-child{
                padding-right: 0;
                border-left: 1px solid rgba(164, 176, 190,1.0);
            }

            &:hover{
                color: rgba(47, 53, 66,1.0);
            }

            .far {
                padding-right: 5px;
                font-size: 20px;
                position: relative;
                top: 2px;
            }
        }
    }

    .Menu {
        display: flex;
        align-items: center;
        
        a{
            margin-left: 35px;
            text-transform: uppercase;
            color: rgba(164, 176, 190,1.0);
            font-weight: 500;
            letter-spacing: 4px;
            padding: 1px;
            transition: 0.2s;

            &:hover{ 
                color: rgba(47, 53, 66,1.0); 
            }
        }

        .Cart{
            display: flex;

            .NumberCart {
                font-size: 18px;
                position: relative;
                top: 3px;
            }
        }

        .active {
            color: rgba(47, 53, 66,1.0);
            font-weight: 600;
        }

        .fas {
            color: rgba(0,0,0, 0.75);
            font-size: 24px;
            padding: 2px 0;
            display: flex;
            justify-content: flex-end;

            &:hover{
                color: rgba(47, 53, 66,1.0);
            }
        }

        .fab {
            font-size: 18px;
            position: relative;
            top: 1.5px;
            padding-right: 5px;
        }

        .active-cart{
            .fas{
                color: rgba(0,0,0, 1);
            }
            
        }
    }
}

@media (max-width: 900px) {
    .Nav {
        padding-bottom: 0px;
        .Menu{
            display: none;
        }
    }
}

//PHONES VERSION////////////////////////////////////////////////

.NavPhoneActive {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(223, 228, 234,1.0);

    .ShowAlways {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .LoginPanel {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 15px;

            .LoginBtn{
                color: rgba(164, 176, 190,1.0);
            }
        }
        .Logo {
            font-family: 'Lora', serif;
            display: flex;
            align-items: center;
            font-size: 50px;
            font-weight: 200;
            color: rgba(47, 53, 66,1.0);
    
            img {
                height: 90px;
            }
        }

        .ShowMore {
            width: 100%;
            display: flex;
            margin-top: 20px;
            a{
                text-transform: uppercase;
                color: rgba(164, 176, 190,1.0);
                font-weight: 500;
                letter-spacing: 4px;
                padding: 1px;
                transition: 0.2s;
    
                &:hover{ 
                    color: rgba(47, 53, 66,1.0); 
                }
            }

            .ShowMenuBtn{
                background: none;
                border-radius: 5px;
                border: 1px solid  rgba(164, 176, 190,1.0);
                font-size: 16px;
                padding: 6px 8px;
                outline: none;

                .fas {
                    padding-right: 5px;
                }
            }
    
            .Cart{
                display: flex;
                font-size: 18px;
                position: absolute;
                right: 0px;
    
                .NumberCart {
                    position: relative;
                    top: -2px;
                }
            }
        }
    }

    .Menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        a{
            margin-top: 10px;
            width: 180px;
            text-align: center;
            text-transform: uppercase;
            color: rgba(164, 176, 190,1.0);
            font-weight: 500;
            letter-spacing: 4px;
            padding: 5px 1px;
            transition: 0.2s;
            animation: 1s showMenu;

            &:hover{ 
                color: rgba(47, 53, 66,1.0); 
            }
        }

        

        .active {
            color: rgba(47, 53, 66,1.0);
            font-weight: 600;
            text-decoration: underline;
        }

        .fas {
            color: rgba(0,0,0, 0.75);
            font-size: 24px;
            padding: 2px 0;
            display: flex;
            justify-content: flex-end;

            &:hover{
                color: rgba(47, 53, 66,1.0);
            }
        }

        .fab {
            font-size: 18px;
            position: relative;
            top: 1.5px;
            padding-right: 2px;
        }

        .active-cart{
            .fas{
                color: rgba(0,0,0, 1);
            }
            
        }
    }

    @keyframes showMenu {
        0% {
            opacity: 0;
            transform: translateX(-20vh);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

}